<div class="control-icon beneos-token-hud-idle-action" data-action-index="0" data-action="beneosToken-animselector" >
    <img src="{{beneosBasePath}}/{{beneosDataPath}}/_ability_icons/spellbook03_76.webp" width="36" height="36" title="Convert to Beneos Token" />
	<div class="beneos-selector-idle-wrap beneos-disabled">
		{{#each beneosTokensHUD as |btoken|}}
			<button class="beneos-button-select control-icon beneos-button-token" data-token="{{btoken.tokenvideo}}" >
				<image class="beneos-token-button" src="{{btoken.token}}" alt="{{btoken.name}}"/>
				<span>{{btoken.name}}</span>
			</button>
		{{/each}}		
    </div>
</div>
