<section class="beneos-cloud-login">

  <div class="beneos-cloud-login__container">
    <h1 class="beneos-cloud-login__title">Beneos Cloud</h1>
    <p class="beneos-cloud-login__description">Login to your Beneos Cloud account.
      Credentials entered here are never stored.</p>

    <div class="flexrow">
      <label for="email" class="beneos-cloud-login__label">Email</label>
      <input type="email" id="email" name="email" required class="beneos-cloud-login__input">
    </div>
    <div class="flexrow">
      <label for="password" class="beneos-cloud-login__label">Password</label>
      <input type="password" id="password" name="password" required class="beneos-cloud-login__input">
    </div>

  </div>

</section>