<form id="beneos-search-form" class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields flexrow beneos-search-header">
      <label class="beneos-search-small-text beneos-search-margin">
        <a class="" href="https://www.patreon.com/BeneosTokens"><img class="beneos-search-small-icons" src="modules/beneos-module/icons/patreon_logo32x32.webp">Token Patreon</a>
      </label>
      <label class="beneos-search-small-text">
        <a class="" href="https://www.patreon.com/BeneosBattlemaps"><img class="beneos-search-small-icons" src="modules/beneos-module/icons/patreon_logo32x32.webp">Battlemap Patreon</a>
      </label>
    </div>
    <div class="header-fields flexrow beneos-search-header">
      <label class="beneos-search-small-text beneos-search-margin">
        <a class="" href="https://discord.gg/mVpv7Nt5qM"><img class="beneos-search-small-icons" src="modules/beneos-module/icons/discord_logo400x400png.webp">Discord</a>
      </label>
      <label class="beneos-search-small-text">
        <a class="" href="https://beneos-battlemaps.com/"><img class="beneos-search-small-icons" src="modules/beneos-module/icons/beneos_Logo.webp">Beneos Online Store</a>
      </label>
    </div>
  </header>

  <hr>
  <h3 class="beneos-title-center">What are you looking for ?</h3>

  <section>
    <div class="flexcol">
      <span class="flexrow beneos-search-main-choice">
        <label><input type="radio" id="beneos-radio-token" name="beneos-search-select" {{#if (eq searchMode "token")}}checked{{/if}}/>TOKENS</label>
        <label><input type="radio" id="beneos-radio-bmap" name="beneos-search-select" {{#if (eq searchMode "bmap")}}checked{{/if}} />MAPS</label>
        <label><input type="radio" id="beneos-radio-item" name="beneos-search-select" {{#if (eq searchMode "item")}}checked{{/if}} />ITEMS</label>
        <label><input type="radio" id="beneos-radio-spell" name="beneos-search-select" {{#if (eq searchMode "spell")}}checked{{/if}} />SPELLS</label>
      </span>
    </div>

    <hr>

    <div class="flexcol">
      <span class="flexrow beneos-search-text-input">
        <label class="beneos-search-text-title">Global text search (<a id="reset-search-list">Reset</a>): </label>
        <input type="text" id="beneos-search-text" name="beneos-search-text" value="" data-dtype="String" />
      </span>
    </div>

    <hr>

    {{#if (eq searchMode "bmap")}}

    <span class="flexrow">
      <label>Biome Filter 1: </label>
      <select name="bioms" class="beneos-selector" id="bioms-selector" data-dtype="String">
        {{selectOptions bmapBioms nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label>Biome Filter 2: </label>
      <select name="bioms" class="beneos-selector" id="bioms-selector-2" data-dtype="String">
        {{selectOptions bmapBioms nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label>Type: </label>
      <select name="bmap-kind" class="beneos-selector" id="kind-selector" data-dtype="String">
        <option value="any">Any</option>
        <option value="scenery">Sceneries</option>
        <option value="battlemap">Battlemaps</option>
      </select>
    </span>

    <span class="flexrow">
      <label>Brightness : </label>
      <select name="bmap-brightness" class="beneos-selector" id="bmap-brightness" data-dtype="String">
        {{selectOptions bmapBrightness nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label>Adventure : </label>
      <select name="bmap-adventure" class="beneos-selector" id="bmap-adventure" data-dtype="String">
        {{selectOptions adventureList nameAttr="key" valueAttr="key" labelAttr="value"}}        
      </select>
    </span>

    <span class="flexrow">
      <label>Map size : </label>
      <select name="bmap-grid" class="beneos-selector" id="bmap-grid" data-dtype="String">
        {{selectOptions gridList nameAttr="key" valueAttr="key" labelAttr="value"}}        
      </select>
    </span>

    {{/if}}

    {{#if (eq searchMode "token")}}
    <span class="flexrow">
      <label>Biome : </label>
      <select name="bioms" class="beneos-selector" id="bioms-selector" data-dtype="String">
        {{selectOptions tokenBioms selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>

    <span class="flexrow">
      <label>Token type : </label>
      <select name="token-types" class="beneos-selector" id="token-types" data-dtype="String">
        {{selectOptions tokenTypes selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>

    <span class="flexrow">
      <label>Fighting style : </label>
      <select name="token-fight-style" class="beneos-selector" id="token-fight-style" data-dtype="String">
        {{selectOptions fightingStyles selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>

    <span class="flexrow">
      <label>CR : </label>
      <select name="token-cr" class="beneos-selector" id="token-cr" data-dtype="String">
        {{selectOptions crList selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>

    <span class="flexrow">
      <label>Movement : </label>
      <select name="token-movement" class="beneos-selector" id="token-movement" data-dtype="String">
        {{selectOptions movementList selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>

    <span class="flexrow">
      <label>Purpose : </label>
      <select name="token-purpose" class="beneos-selector" id="token-purpose" data-dtype="String">
        {{selectOptions purposeList selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    {{/if}}

    {{#if (eq searchMode "item")}}
    <span class="flexrow">
      <label>Item type : </label>
      <select name="item-type" class="beneos-selector" id="item-type" data-dtype="String">
        {{selectOptions itemType selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    <span class="flexrow">
      <label>Rarity : </label>
      <select name="rarity" class="beneos-selector" id="rarity-selector" data-dtype="String">
        {{selectOptions rarity selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    <span class="flexrow">
      <label>Origin : </label>
      <select name="origin" class="beneos-selector" id="origin-selector" data-dtype="String">
        {{selectOptions origin selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    <span class="flexrow">
      <label>Tier : </label>
      <select name="tier" class="beneos-selector" id="tier-selector" data-dtype="String">
        {{selectOptions tier selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    <span class="flexrow">
      <label>Price : </label>
      <select name="price" class="beneos-selector" id="price-selector" data-dtype="String">
        {{selectOptions price selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    {{/if}}

    {{#if (eq searchMode "spell")}}
    <span class="flexrow">
      <label>Spell type : </label>
      <select name="spell-type" class="beneos-selector" id="spell-type" data-dtype="String">
        {{selectOptions spellType selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    <span class="flexrow">
      <label>School : </label>
      <select name="school" class="beneos-selector" id="school-selector" data-dtype="String">
        {{selectOptions school selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    <span class="flexrow">
      <label>Level : </label>
      <select name="level" class="beneos-selector" id="level-selector" data-dtype="String">
        {{selectOptions level selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    <span class="flexrow">
      <label>Casting Time : </label>
      <select name="castingtime" class="beneos-selector" id="casting_time-selector" data-dtype="String">
        {{selectOptions castingTime selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    <span class="flexrow">
      <label>Class : </label>
      <select name="class" class="beneos-selector" id="class-selector" data-dtype="String">
        {{selectOptions spellClass selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}                
      </select>
    </span>
    {{/if}}

    <!-- Not used anymore (ie cloud only delivery)
    {{#if (ne searchMode "bmap")}}
    <span class="flexrow">
      <label>Show : </label>
      <select name="installation" class="beneos-selector" id="installation-selector" data-dtype="String">
        <option value="any">Any</option>
        <option value="installed">Only installed</option>
        <option value="cloudavailable">Only Cloud Available</option>
        <option value="noninstalled">Only not installed</option>
      </select>
    </span>
    {{/if}}
    -->

  </div>

  <div class="beneos-search-overflow-section">
    <label id="beneos-search-overflow">Only the first 100 results are shown. Please use filters to narrow your search.</label>
  </div>

  <div class="beneos-tooltip-icon-group-compendium beneos-tooltip beneos-rebuild-compendium-button">
    <div class="beneos-tooltiptext-button">
      <div class="flexrow beneos-tooltip-content-button-import"  >
        <span class="beneos-description-text">Searches <strong>beneos_assets</strong> and import newly added content.</span>
      </div>
    </div>
    <button type="submit" class="" id="beneos-rebuild-compendium-button-id" data-tooltip="Click to Scan">
      Import New Content
    </button>
  </div>


  </section>

</form>