<div class="control-icon" data-action="beneosToken-animselector">
  <img class="beneosJournalAction" src="modules/beneos-module/icons/ability_icons/spellbook03_46.webp"
    width="36" height="36" title="Open token journal" />
</div>

<div class="control-icon beneos-token-hud-size-plus" data-action-index="0" data-img="{{tokenData.img}}"
  data-token-key="{{tokenData.tokenKey}}" data-action="beneosToken-size-plus">
  <img class="beneosTokenSizePlus" src="icons/svg/regen.svg" width="36" height="36" title="Increment token size" />
</div>

<div class="control-icon beneos-token-hud-size-minus" data-action-index="0" data-img="{{tokenData.img}}"
  data-token-key="{{tokenData.tokenKey}}" data-action="beneosToken-size-minus">
  <img class="beneosTokenSizeMinus" src="icons/svg/degen.svg" width="36" height="36" title="Decrement token size" />
</div>