<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{#each results as |result idx|}}
    <div data-result-index="{{idx}}" data-token-key="{{result.key}}"
      class="directory-item document actor flexrow token-root-div {{#if result.isInstalled}} {{else}}beneos-not-installed{{/if}}">

      {{#if (eq result.kind "token")}}
      <div class="beneos-search-icons-result beneos-tooltip entity-link content-link">

        {{#if result.isInstalled}}
        <div class="beneos-tooltiptext beneos-token-description token-search-data" data-type="Actor"
          data-document-id="{{result.actorId}}" draggable="true">
          <div class="flexrow beneos-tooltip-content token-search-data" data-type="Actor"
            data-document-id="{{result.actorId}}" draggable="true">
            <img class="beneos-search-icons-result-tooltip token-search-data" data-document-id="{{result.actorId}}"
              draggable="true" src="{{result.picture}}">
            <span class="beneos-description-text">{{result.description}}</span>
          </div>
        </div>
        <img class="beneos-search-icons-result token-search-data" data-type="Actor"
          data-document-id="{{result.actorId}}" draggable="true" src="{{result.picture}}">
      </div>
      {{else}}
      <div class="beneos-tooltiptext beneos-token-description">
        <div class="flexrow beneos-tooltip-content">
          <img class="beneos-search-icons-result-tooltip " src="{{result.picture}}">
          <span class="beneos-description-text">{{result.description}}</span>
        </div>
      </div>
      <img class="beneos-search-icons-result" src="{{result.picture}}" />
    </div>
    {{/if}}

    {{#if result.isInstalled}}
    <div class="beneos-search-middle flexcol token-search-data" data-type="Actor" data-document-id="{{result.actorId}}"
      draggable="true">
      {{else}}
      <div class="beneos-search-middle flexcol">
        {{/if}}
        <label class="beneos-search-title-result">{{result.name}}</label>
        <span class="beneos-search-text01">
          <label>{{beneosUpperFirst result.properties.size}}</label>
          {{#each result.properties.type as |type key|}}
          <label>{{beneosUpperFirst type}}</label>
          {{/each}}
          <label class="beneos-search-stat">AC: <strong>{{result.properties.stat_ac}}</strong></label>
          <label class="beneos-search-stat">HP: <strong>{{result.properties.stat_hp}}</strong></label>
        </span>
        <span class="beneos-search-text01 flexrow">
          {{#each result.properties.fightingstyle as |fight key|}}
          <label class="beneos-search-button biom-content" data-prop-name="fightingstyle">
            <div class="beneos-tooltip">
              <div class="beneos-tooltiptext beneos-tooltip-keyword">
                <span class="">{{getTagDescription fight}}</span>
              </div>
              <a class="beneos-button-fight" data-fight-value="{{fight}}">{{beneosUpperFirst fight}}</a>
            </div>
          </label>
          {{/each}}
          {{#each result.properties.purpose as |purpose key|}}
          <label class="beneos-search-button biom-content" data-prop-name="purpose">
            <div class="beneos-tooltip">
              <div class="beneos-tooltiptext beneos-tooltip-purpose ">
                <span class="">{{getTagDescription purpose}}</span>
              </div>
              <a class="beneos-button-purpose" data-purpose-value="{{purpose}}">{{beneosUpperFirst purpose}}</a>
            </div>
          </label>
          {{/each}}
        </span>
        <label><a href="{{result.properties.releaseurl}}">{{#if result.isInstalled}} {{else}}GET IT HERE{{/if}} Release
            URL</a></label>
      </div>

      <div class="beneos-search-last flexcol">
        {{#if result.isInstalled}}
        <div class="beneos-tooltip beneos-search-installed">
          <div class="beneos-tooltiptext beneos-token-description">
            <div class="flexrow beneos-tooltip-content-installed">
              {{beneosGetHover "installed" "installed"}}
            </div>
          </div>
          <label class="beneos-search-installed">Installed</label>
        </div>
        <label class="beneos-search-journal-button"><a class="beneos-button-journal">Journal</a></label>
        {{else}}
        <div class="beneos-tooltip beneos-search-installed">
          <div class="beneos-tooltiptext beneos-token-description">
            <div class="flexrow beneos-tooltip-content-installed">
              {{beneosGetHover "installed" "not_installed"}}
            </div>
          </div>
          <label class="beneos-search-notinstalled">Not Installed</label>
        </div>
        {{/if}}

        <label class="beneos-search-cr-button"><a class="beneos-button-cr" data-cr-value="{{result.properties.cr}}">CR
            <strong>{{result.properties.cr}}</strong></a></label>
        <label class="beneos-search-yt-button"><a class="beneos-button-yt" href="{{result.properties.videourl}}"><img
              class="beneos-search-yt-icons" src="modules/beneos_module/icons/yt_Logo.webp">&nbsp;</a></label>
      </div>
      {{/if}}

      {{#if (eq result.kind "battlemap")}}

      <div class="beneos-search-icons-bmap-result beneos-tooltip ">

        <div class="beneos-tooltiptext beneos-token-description">
          <div class="flexrow beneos-tooltip-content">
            <img class="beneos-search-icons-result-tooltip" src="{{result.picture}}">
          </div>
        </div>
        <img class="beneos-search-icons-bmap-result" src="{{result.picture}}">
      </div>

      <div class="beneos-search-middle flexcol">
        <label class="beneos-search-title-result">{{result.name}}</label>

        {{#if result.siblingPicture}}
        <label class="beneos-fitting-button beneos-tooltip" data-prop-name="biom">
          <a class="beneos-jump-linked" data-jump-data="{{result.properties.sibling}}">
            {{#if (eq (beneosLowerCase result.properties.type) "battlemap")}}
            Fitting Scenery
            {{else}}
            Fitting Battlemap
            {{/if}}
            <div class="beneos-tooltiptext beneos-token-description">
              <div class="flexrow beneos-tooltip-content">
                <img class="beneos-search-icons-result-tooltip" src="{{result.siblingPicture}}">
              </div>
            </div>
          </a>
        </label>
        {{/if}}

        <span class="beneos-search-text01 flexrow">
          {{#each result.properties.biom as |biom key|}}
          <label class="beneos-search-button biom-content" data-prop-name="biom">
            <a class="beneos-button-biom" data-biom-value="{{biom}}">{{beneosUpperFirst biom}}</a>
          </label>
          {{/each}}
        </span>
      </div>

      <div class="beneos-search-last flexcol">
        <label class="beneos-search-installed">
          {{#if (eq (beneosLowerCase result.properties.type) "battlemap")}}
          Battlemap
          {{else}}
          Scenery
          {{/if}}
        </label>

        {{#each result.properties.adventure as |adventure key|}}
        {{#if (ne (beneosLowerCase adventure) "none")}}
        <label class="beneos-release-url-button"><a class="beneos-button-adventure"
            data-adventure-name="{{adventure}}">{{beneosUpperFirst adventure}}</a></label>
        {{/if}}
        {{/each}}

        <label class="beneos-search-grid-button"><a class="beneos-button-grid"
            data-grid-value="{{result.properties.grid}}">{{result.properties.grid}}</a></label>
        <label class="beneos-search-brightness-button"><a class="beneos-button-brightness"
            data-brightness-value="{{result.properties.brightness}}">{{result.properties.brightness}}</a></label>
        {{#if (beneosLength result.properties.videourl)}}
        <label class="beneos-search-yt-button"><a class="beneos-button-yt" href="{{result.properties.videourl}}"><img
              class="beneos-search-yt-icons" src="modules/beneos_module/icons/yt_Logo.webp">&nbsp;</a></label>
        {{/if}}
        {{#if (beneosLength result.properties.releaseurl)}}
        <label class="beneos-release-url-button"><a href="{{result.properties.releaseurl}}">Release URL</a></label>
        {{/if}}
      </div>

      {{/if}}


        {{#if (eq result.kind "spell")}}

        <div class="beneos-search-icons-result beneos-tooltip entity-link content-link">

          <div class="beneos-tooltiptext beneos-token-description">
            <div class="flexrow beneos-tooltip-content">
              <img class="beneos-search-icons-result-tooltip " src="{{result.picture}}">
              <span class="beneos-description-text">{{result.description}}</span>
            </div>
          </div>
          <img class="beneos-search-icons-result" src="{{result.picture}}" />
        </div>

        {{#if result.isInstalled}}
        <div class="beneos-search-middle flexcol token-search-data" data-type="Spell"
          data-document-id="{{result.spellId}}" draggable="true">
          {{else}}
          <div class="beneos-search-middle flexcol">
            {{/if}}

            <div class="beneos-tooltip">
              <div class="beneos-tooltiptext beneos-token-description">
                <div class="flexrow beneos-tooltip-content-item">
                  <img class="beneos-search-icons-result-tooltip-item" src="{{result.card_front}}">
                  <img class="beneos-search-icons-result-tooltip-item" src="{{result.card_back}}">
                </div>
              </div>
              <label class="beneos-search-title-result">{{result.name}}</label>
            </div>

            <span class="beneos-search-text01">
              <label class="beneos-search-stat"><a class="beneos-button-level"
                  data-level-value="{{result.properties.level}}">Level {{beneosUpperFirst
                  result.properties.level}}</a></label>
              <label class="beneos-search-stat"><a class="beneos-button-school"
                  data-school-value="{{result.properties.school}}">{{beneosUpperFirst
                  result.properties.school}} Spell</a></label>
            </span>
            <span class="beneos-search-text01 beneos-description-background flexrow">
              {{result.description}}
            </span>

            <span class="beneos-search-text01 flexrow flexpacked">
              <span class="beneos-classes">Classes:</span>
              {{#each result.properties.classes as |class key|}}
              <span class="beneos-classes"><a class="beneos-button-class"
                  data-class-value="{{class}}">{{beneosUpperFirst class}}</a></span>
              {{/each}}
            </span>

            {{#if result.properties.releaseurl}}
            <label><a href="{{result.properties.releaseurl}}">Release URL</a></label>
            {{/if}}
          </div>

          <div class="beneos-search-last flexcol">
            {{#if result.isInstalled}}
            <div class="beneos-tooltip beneos-search-installed">
              <div class="beneos-tooltiptext beneos-token-description">
                <div class="flexrow beneos-tooltip-content-installed">
                  {{beneosGetHover "installed" "installed"}}
                </div>
              </div>
              <label class="beneos-search-installed">Installed</label>
            </div>
            {{else}}
            <div class="beneos-tooltip beneos-search-installed">
              <div class="beneos-tooltiptext beneos-token-description">
                <div class="flexrow beneos-tooltip-content-installed">
                  {{beneosGetHover "installed" "not_installed"}}
                </div>
              </div>
              <label class="beneos-search-notinstalled">Not Installed</label>
            </div>
            {{/if}}

            <label class="beneos-search-spell-type-button"><a class="beneos-button-spell-type"
                data-spell_type-value="{{result.properties.spell_type}}"><strong>{{result.properties.spell_type}}</strong></a></label>
            <label class="beneos-search-casting-button"><a class="beneos-button-casting"
                data-casting_time-value="{{result.properties.casting_time}}"><strong>{{result.properties.casting_time}}</strong></a></label>
            {{#if result.properties.concentration}}
            <label class="beneos-search-concentration-button"><strong>Concentration</strong></label>
            {{/if}}
          </div>
          {{/if}}

        </div>
        <hr>
        {{/each}}

  </section>

</form>