<div class="control-icon beneos-token-hud-reload" data-action-index="0" data-img="{{tokenData.img}}" data-token-key="{{tokenData.tokenKey}}" data-action="beneosToken-reloadjson">
  <img src="modules/beneos-module/icons/ability_icons/green_20.webp" width="36" height="36"
    title="Reload JSON" />
</div>
<div class="control-icon beneos-token-hud-save" data-action-index="0" data-img="{{tokenData.img}}" data-token-key="{{tokenData.tokenKey}}" data-action="beneosToken-reloadjson">
  <img src="modules/beneos-module/icons/ability_icons/p_05.webp" width="36" height="36"
    title="Reload JSON" />
</div>
