<form id="beneos-search-form" class="{{cssClass}}" autocomplete="off">
  <section>
    <div class="flexcol">
      <span class="flexrow beneos-search-main-choice">
        <button id="beneos-radio-token" class="beneos-search-button {{#if (eq searchMode "
          token")}}category-active{{/if}}" name="beneos-search-select">Tokens</button>
        <button id="beneos-radio-bmap" class="beneos-search-button {{#if (eq searchMode "
          bmap")}}category-active{{/if}}" name="beneos-search-select">Maps</button>
        <button id="beneos-radio-item" class="beneos-search-button {{#if (eq searchMode "
          item")}}category-active{{/if}}" name="beneos-search-select">Items</button>
        <button id="beneos-radio-spell" class="beneos-search-button {{#if (eq searchMode "
          spell")}}category-active{{/if}}" name="beneos-search-select">Spells</button>
      </span>
    </div>

    <hr>

    <div class="flexrow beneos-search-text-input">
      <label class="beneos-search-text-title">Global text search (<a id="reset-search-list"
          data-tooltip="Overrides Tags">Reset</a>): </label>
      <input type="text" id="beneos-search-text" name="beneos-search-text" value="" data-dtype="String" />
    </div>

    <hr>

    {{#if (eq searchMode "bmap")}}

    <span class="flexrow">
      <label data-tooltip="Where a creature can be found">Biome Filter 1: </label>
      <select name="bioms" class="beneos-selector" id="bioms-selector" data-dtype="String">
        {{selectOptions bmapBioms nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label>Biome Filter 2: </label>
      <select name="bioms" class="beneos-selector" id="bioms-selector-2" data-dtype="String">
        {{selectOptions bmapBioms nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label>Type: </label>
      <select name="bmap-kind" class="beneos-selector" id="kind-selector" data-dtype="String">
        <option value="any">Any</option>
        <option value="scenery">Sceneries</option>
        <option value="battlemap">Battlemaps</option>
      </select>
    </span>

    <span class="flexrow">
      <label>Brightness : </label>
      <select name="bmap-brightness" class="beneos-selector" id="bmap-brightness" data-dtype="String">
        {{selectOptions bmapBrightness nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label>Adventure : </label>
      <select name="bmap-adventure" class="beneos-selector" id="bmap-adventure" data-dtype="String">
        {{selectOptions adventureList nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label>Map size : </label>
      <select name="bmap-grid" class="beneos-selector" id="bmap-grid" data-dtype="String">
        {{selectOptions gridList nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <hr>
    <span class="flexrow">
      <label data-tooltip="Bulk installation">Install : </label>
      <select name="asset-install" class="beneos-selector" id="asset-install" data-dtype="String">
        <option value="any">Any</option>
        <option value="all">All</option>
        <option value="new">New</option>
        <option value="updated">Updated</option>
      </select>
    </span>

    {{/if}}

    {{#if (eq searchMode "token")}}
    <span class="flexrow">
      <label data-tooltip="Where a creature can be found">Biome : </label>
      <select name="bioms" class="beneos-selector" id="bioms-selector" data-dtype="String">
        {{selectOptions tokenBioms selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label data-tooltip="Species or kind of a creature">Token type : </label>
      <select name="token-types" class="beneos-selector" id="token-types" data-dtype="String">
        {{selectOptions tokenTypes selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label data-tooltip="The source book or module of the creature">Source : </label>
      <select name="token-sources" class="beneos-selector" id="source-selector" data-dtype="String">
        {{selectOptions tokenSources selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label data-tooltip="The campaign the creature belongs to">Campaign : </label>
      <select name="token-campaigns" class="beneos-selector" id="campaign-selector" data-dtype="String">
        {{selectOptions tokenCampaigns selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label data-tooltip="The typical role of a creature in an encounter">Faction : </label>
      <select name="token-factions" class="beneos-selector" id="faction-selector" data-dtype="String">
        {{selectOptions tokenFactions selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label data-tooltip="The typical way a creature fights">Fighting style : </label>
      <select name="token-fight-style" class="beneos-selector" id="token-fight-style" data-dtype="String">
        {{selectOptions fightingStyles selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label data-tooltip="Challenge Rating of the creature">CR : </label>
      <select name="token-cr" class="beneos-selector" id="token-cr" data-dtype="String">
        {{selectOptions crList selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label data-tooltip="The possible mode of locomotion">Movement : </label>
      <select name="token-movement" class="beneos-selector" id="token-movement" data-dtype="String">
        {{selectOptions movementList selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <span class="flexrow">
      <label data-tooltip="The role the creature fulfills in combat">Purpose : </label>
      <select name="token-purpose" class="beneos-selector" id="token-purpose" data-dtype="String">
        {{selectOptions purposeList selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <hr>
    <span class="flexrow">
      <label data-tooltip="Bulk installation">Install : </label>
      <select name="asset-install" class="beneos-selector" id="asset-install" data-dtype="String">
        <option value="any">Any</option>
        <option value="all">All</option>
        <option value="new">New</option>
        <option value="updated">Updated</option>
      </select>
    </span>

    {{/if}}

    {{#if (eq searchMode "item")}}
    <span class="flexrow">
      <label>Item type : </label>
      <select name="item-type" class="beneos-selector" id="item-type" data-dtype="String">
        {{selectOptions itemType selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>
    <span class="flexrow">
      <label>Rarity : </label>
      <select name="rarity" class="beneos-selector" id="rarity-selector" data-dtype="String">
        {{selectOptions rarity selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>
    <span class="flexrow">
      <label>Origin : </label>
      <select name="origin" class="beneos-selector" id="origin-selector" data-dtype="String">
        {{selectOptions origin selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>
    <span class="flexrow">
      <label>Tier : </label>
      <select name="tier" class="beneos-selector" id="tier-selector" data-dtype="String">
        {{selectOptions tier selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>
    <span class="flexrow">
      <label>Price : </label>
      <select name="price" class="beneos-selector" id="price-selector" data-dtype="String">
        {{selectOptions price selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <hr>
    <span class="flexrow">
      <label data-tooltip="Bulk installation">Install : </label>
      <select name="asset-install" class="beneos-selector" id="asset-install" data-dtype="String">
        <option value="any">Any</option>
        <option value="all">All</option>
        <option value="new">New</option>
        <option value="updated">Updated</option>
      </select>
    </span>

    {{/if}}

    {{#if (eq searchMode "spell")}}
    <span class="flexrow">
      <label>Spell type : </label>
      <select name="spell-type" class="beneos-selector" id="spell-type" data-dtype="String">
        {{selectOptions spellType selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>
    <span class="flexrow">
      <label>School : </label>
      <select name="school" class="beneos-selector" id="school-selector" data-dtype="String">
        {{selectOptions school selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>
    <span class="flexrow">
      <label>Level : </label>
      <select name="level" class="beneos-selector" id="level-selector" data-dtype="String">
        {{selectOptions level selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>
    <span class="flexrow">
      <label>Casting Time : </label>
      <select name="castingtime" class="beneos-selector" id="casting_time-selector" data-dtype="String">
        {{selectOptions castingTime selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>
    <span class="flexrow">
      <label>Class : </label>
      <select name="class" class="beneos-selector" id="class-selector" data-dtype="String">
        {{selectOptions spellClass selected="any" nameAttr="key" valueAttr="key" labelAttr="value"}}
      </select>
    </span>

    <hr>
    <span class="flexrow">
      <label data-tooltip="Bulk installation">Install : </label>
      <select name="asset-install" class="beneos-selector" id="asset-install" data-dtype="String">
        <option value="any">Any</option>
        <option value="all">All</option>
        <option value="new">New</option>
        <option value="updated">Updated</option>
      </select>
    </span>

    {{/if}}

    <!-- Not used anymore (ie cloud only delivery)
    {{#if (ne searchMode "bmap")}}
    <span class="flexrow">
      <label>Show : </label>
      <select name="installation" class="beneos-selector" id="installation-selector" data-dtype="String">
        <option value="any">Any</option>
        <option value="installed">Only installed</option>
        <option value="cloudavailable">Only Cloud Available</option>
        <option value="noninstalled">Only not installed</option>
      </select>
    </span>
    {{/if}}
    -->
    </div>

    <div class="beneos-connection-section">
      {{#if isCloudLoggedIn}}

      {{#if (or (eq patreonStatus "not_active_patron") (eq patronStatus "no_patreon"))}}
      <label class="beneos-cloud-connected">Connected to the Beneos Cloud</label>
      <button id="beneos-cloud-settings" class="" data-tooltip="Click here to open the Beneos Cloud settings">Beneos
        Cloud Account Settings</button>
      <div class="beneos-cloud-no-patreon">❌ Patreon Account not Linked</div>
      <div class="beneos-cloud-no-patreon-info">To have access to Beneos Patreon content, you must be an active Patron
        and link your Beneos Cloud account to your Patreon account once. Purchased store content from
        Beneos-Battlemaps.com will automatically be available here.</div>
      {{/if}}

      {{else}}
      <div class="beneos-cloud-not-connected">Not Connected to the Beneos Cloud. Please Log in!</div>
      <div>Login to your Beneos Cloud account. Credentials entered here are never stored.</div>
      <div class="flexrow">
        <label class="beneos-cloud-label">Email: </label>
        <input type="email" class="beneos-cloud-login-data" id="beneos-cloud-email" name="beneos-cloud-email" value=""
          data-dtype="String" placeholder="Your Beneos Cloud Email" />
      </div>
      <div class="flexrow">
        <label class="beneos-cloud-label">Password: </label>
        <input type="password" class="beneos-cloud-login-data" id="beneos-cloud-password" name="beneos-cloud-password"
          value="" data-dtype="String" placeholder="Your Beneos Cloud Password" />
      </div>
      <div class="flexrow">
        <button type="submit" class="beneos-cloud-login-button" id="beneos-cloud-create-account"
          data-tooltip="Click here to create an account to the Beneos Cloud">Create Account</button>
        <button type="submit" class="beneos-cloud-login-button" id="beneos-cloud-login"
          data-tooltip="Click here to connect to the Beneos Cloud">Login</button>
      </div>
      <hr>
      <div class="beneos-black-text">With the Beneos Cloud, you can conveniently install all Beneos battlemaps, tokens,
        spells and items directly into your Foundry VTT world.</div>
      {{/if}}
      <button type="submit" class="" id="beneos-cloud-batch-install" hidden
        data-tooltip="Click here to install all selected assets">Install all selected assets</button>

      <button type="submit" class="install-batch-button install-batch-button-new" hidden data-install-mode="install-new"
        data-tooltip="Install all NEW assets from the search results">Install NEW content</button>
      <button type="submit" class="install-batch-button install-batch-button-updated" hidden
        data-install-mode="install-updated" data-tooltip="Install all UPDATED assets from the search results">Install
        UPDATED content</button>
      <button type="submit" class="install-batch-button install-batch-button-all" hidden data-install-mode="install-all"
        data-tooltip="Install ENTIRE archive">Install ALL content</button>

    </div>


  </section>

</form>