<div>

  <div class="chat-message-header">
  <h4 class=>New {{itemName}} detected in compendium</h4>
  </div>

  <hr>
  
  <div class="flexcol">
    <ul>
      {{#if (eq itemName "Actors")}}
        {{#each itemList as |item idx|}}
          <li>@UUID[{{@root.compendium}}.{{item.actorId}}]</li>
        {{/each}}
      {{/if}}

      {{#if (eq itemName "Spells")}}
        {{#each itemList as |item idx|}}
          <li>@UUID[{{@root.compendium}}.{{item.spellId}}]</li>
        {{/each}}
      {{/if}}

      {{#if (eq itemName "Items")}}
      {{#each itemList as |item idx|}}
        <li>@UUID[{{@root.compendium}}.{{item.itemId}}]</li>
      {{/each}}
      {{/if}}

    </ul>
  </div>


  </div>
